<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div>
    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
        <h2>회원 가입</h2>
        <form th:method="post" th:action="|@{/{loginType}/join (loginType=${loginType})}|" th:object="${joinRequest}">
            <div>
                <label th:for="loginId">로그인 아이디 : </label>
                <input type="text" th:field="*{loginId}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{loginId}"></div>
            </div>
            <br/>
            <div>
                <label th:for="password">비밀번호 : </label>
                <input type="password" th:field="*{password}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{password}"></div>
            </div>
            <br/>
            <div>
                <label th:for="passwordCheck">비밀번호 체크 : </label>
                <input type="password" th:field="*{passwordCheck}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{passwordCheck}"></div>
            </div>
            <br/>
            <div>
                <label th:for="nickname">닉네임 : </label>
                <input type="text" th:field="*{nickname}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{nickname}"></div>
            </div>
            <br/>
            <button type="submit">회원 가입</button>
        </form>
    </div>
</body>
</html>

<style>
.error-class {
    color: red;
}
.error-input {
    border-color: red;
}
</style>