<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Test</title>
</head>
<body>
    <div>
        <h2>로그인</h2>
        <form th:method="post" th:action="@{/cookie-login/login}" th:object="${loginForm}">
            <div>
                <label th:for="loginId">로그인 아이디 : </label>
                <input type="text" th:field="*{loginId}"/>
            </div>
            <br/>
            <div>
                <label th:for="password">비밀번호 : </label>
                <input type="password" th:field="*{password}"/>
            </div>
            <div th:if="${#fields.hasGlobalErrors()}">
                <br/>
                <div class="error-class" th:each="error : ${#fields.globalErrors()}" th:text="${error}" />
            </div>
            <br/>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>

<style>
.error-class {
    color: red;
}
.error-input {
    border-color: red;
}
</style>